
.nav-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }


  #navbar{
    height:70px;
  }



  #search-inputs{
    padding-top: 20px;
    margin-left: 100px;
  }
  #btn-search{
  margin-top: 20px;
  margin-left: 20px;
  }
  #login-form{
    width:400px;
    padding-top: 20px;
  }
  #btn-signup{
    float: right;
  }

  .card {
    margin: 15px;
  }

  .side {
    float: left;
  }

  #btn-more {
    margin-top: 14.5px;
    margin-bottom: 9.84px;
    margin-left: 15px;
  }

 .btn-floating:hover {
    border: inset 1px;
 }